<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
  </head>
  <body>
    <div id="app">
      <!-- START NAV -->
      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../index.html">
              Saviani
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="admin.html">
                Home
              </a>
              <a class="navbar-item" href="admin.html">
                Orders
              </a>
              <a class="navbar-item" href="admin.html">
                Payments
              </a>
              <a class="navbar-item" href="admin.html">
                Exceptions
              </a>
              <a class="navbar-item" href="admin.html">
                Reports
              </a>
            </div>
          </div>
        </div>
      </nav>
      <!-- END NAV -->
      <div class="container">
        <div class="columns">
          <div class="column is-2 ">
            <aside class="aside is-placed-left is-expanded">
              <div v-for="menu in menus">
                <p class="menu-label">
                  {{menu.label}}
                </p>
                <ul class="menu-list">
                  <li v-for="aba_id in menu.abas_id">
                    <a
                      v-on:click="selecionarAba(aba_id)"
                      :class="ehAbaSelecionada(aba_id)?'is-active':''"
                      >
                      {{getAba(aba_id).label}}
                    </a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
          <div class="column is-10">
            <nav class="breadcrumb" aria-label="breadcrumbs">
              <ul>
                <li><a href="../">Bulma</a></li>
                <li><a href="../">Templates</a></li>
                <li><a href="../">Examples</a></li>
                <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
              </ul>
            </nav>
            <section class="hero is-info welcome">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">
                  {{getTituloAbaAtual()}}
                  </h1>
                </div>
              </div>
            </section>
            <br>
            <div class="columns">
              <div class="column is-12">
                <!--INICIO ABA LISTAGEM-->
                <div v-if="getTipoAbaAtual() == 'listagem'">
                  <!--INICIO MENU SUPERIOR-->
                  <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                      <div class="level-item">
                        <a class="button is-small">
                          <span class="icon">
                            <i class="fa fa-download"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                    <!-- Right side -->
                    <div class="level-right">
                      <p class="level-item">
                        <a class="button is-success" v-on:click="selecionarAba('cadastrar-'+aba_id_selecionada)">Cadastrar</a>
                      </p>
                    </div>
                  </nav>
                  <!--FIM MENU SUPERIOR-->
                  <b-table :data="getDadosAbaAtual()" :paginated="true" per-page="6">
                    <template v-for="column in getColunasAbaAtual()">
                      <b-table-column v-bind="column">
                      <!--FIELD PESQUISA-->
                        <template
                          v-if="column.searchable && !column.numeric"
                          slot="searchable"
                          slot-scope="props"
                        >
                          <b-input
                            v-model="props.filters[props.column.field]"
                            placeholder="Buscar..."
                            icon="magnify"
                            size="is-small"
                          />
                        </template>
                        <!--VALORES-->
                        <template v-slot="props">
                          <div v-if="column.field == 'nome'">
                            <button class="button" @click="selecionarAba('visualizar-curso', props.row)">
                              <span>{{ props.row[column.field] }}</span>
                            </button>
                          </div>
                          <div v-else>
                            {{ props.row[column.field] }}
                          </div>
                        </template>
                      </b-table-column>
                    </template>
                    <b-table-column
                      label="Ações"
                      width="40"
                      v-slot="props"
                    >
                      <div class="buttons is-right">
                        <a class="button is-small is-success">
                          <span class="icon">
                            <i class="fa fa-pencil"></i>
                          </span>
                        </a>
                        <a class="button is-small is-danger" @click="excluir('cursos', props.row.id)">
                          <span class="icon">
                            <i class="fa fa-times"></i>
                          </span>
                        </a>
                      </div>
                    </b-table-column>
                  </b-table>
                </div>
                <!--FIM ABA LISTAGEM-->
                
                <!--INICIO ABA PERFIL-->
                <div v-if="getTipoAbaAtual() == 'perfil'">
                  <div class="card">
                    <header class="card-header">
                      <a class="card-header-title" @click="selecionarAba('cursos')">
                        <span class="icon">
                          <i class="fa fa-arrow-left"></i>
                        </span>
                        Voltar para Cursos
                      </a>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <div v-for="(row, key) in row_selecionada" class="field">
                          <label class="label">
                            {{key}}
                          </label>
                          <div class="control is-clearfix">
                            <input type="text" autocomplete="on" readonly="readonly" class="input is-static" :value="row">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--FIM ABA PERFIL-->
                <!--INICIO ABA CADASTRO-->
                <div v-if="getTipoAbaAtual() == 'cadastro'">
                  <div class="card" v-if="aba_id_selecionada == 'cadastrar-cursos'">
                    <header class="card-header">
                      <a class="card-header-title" @click="selecionarAba('cursos')">
                        <span class="icon">
                          <i class="fa fa-arrow-left"></i>
                        </span>
                        Voltar para Cursos
                      </a>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <form id="criar-curso-form" onsubmit="return false">
                          <div class="field">
                            <label class="label">Nome</label>
                            <div class="control">
                              <input id="criar-nome-curso" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Código</label>
                            <div class="control">
                              <input id="criar-codigo-curso" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Carga horária</label>
                            <div class="control">
                              <input id="criar-carga-curso" required type="number" class="input">
                            </div>
                          </div>
                          <div class="field is-grouped">
                            <div class="control">
                              <button @click="criarCurso()" class="button is-success">Criar</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="card" v-if="aba_id_selecionada == 'cadastrar-alunos'">
                    <header class="card-header">
                      <a class="card-header-title" @click="selecionarAba('alunos')">
                        <span class="icon">
                          <i class="fa fa-arrow-left"></i>
                        </span>
                        Voltar para Alunos
                      </a>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <form id="criar-aluno-form" onsubmit="return false">
                          <div class="field">
                            <label class="label">Nome</label>
                            <div class="control">
                              <input id="criar-nome-aluno" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Código</label>
                            <div class="control">
                              <input id="criar-id-aluno" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">CPF</label>
                            <div class="control">
                              <input id="criar-cpf-aluno" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                              <input id="criar-email-aluno" required class="input" type="text">
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Telefone</label>
                            <div class="control">
                              <input id="criar-telefone-aluno" required type="number" class="input">
                            </div>
                          </div>
                          <div class="field is-grouped">
                            <div class="control">
                              <button @click="criarAluno()" class="button is-success">Criar</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--FIM ABA CADASTRO-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="js/plugins/moment/moment-with-locales.js"></script>
    <script src="js/uTests/navigationTests.js"></script>
    <script async type="text/javascript" src="js/saviani.js"></script>
  </body>
</html>